doctype html
html
	head
		title= title
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
	body(data-ng-app='sparzrequest')
		#wrap
			#main(class='container clear-top')
				block content
		footer(class='footer')
			|Version: {{version}}
		script(src='/javascripts/app.comp.js')