extends layout

block content
	div(class='view', data-ng-controller='requestController')
		div
			fieldset
				legend Request:
				div(class='row')
					div(class='col-sm-12 col-md-6 col-lg-3 form-group')
						label Movie/Show Name
						input(type='text', class='form-control', data-ng-model='name')
					div(class='col-sm-12 col-md-6 col-lg-3 form-group')
						label Type
						select(class='form-control', data-ng-model='requestType', data-ng-options='s.value as s.text for s in requestTypes')
					div(class='col-sm-12 col-md-6 col-lg-3 form-group')
						label Year
						input(type='text', class='form-control', data-ng-model='year')
					div(class='col-sm-12 col-md-6 col-lg-3 form-group')
						label Ongoing TV Show
						input(type='checkbox', class='form-control', data-ng-model='isOngoing')
						small This means that it is currently has or will have upcoming episodes
				div(class='row')
					div(class='col-sm-12 form-group')
						button(class='btn btn-success', data-ng-click='createRequest()') Add
						button(class='btn btn-success', data-ng-click='clearRequest()') Clear
		hr
		div
			div(style='margin-bottom: 5px;')
				input(type='checkbox', data-ng-model='showClosed', data-ng-change='refresh()') 
				|&nbsp;Show Closed
			table(class='table table-bordered table-responsive table-striped table-condensed')
				thead
					tr
						th(data-ng-show='isAdmin()') Requested By
						th Name (Year)
						th Type
						th IsOngoing
						th Status
						th Date Requested
						th Date Filled
						th Actions
					thead
					tbody
						tr(data-ng-cloak, data-ng-class='{ completed: isMarkedComplete(request) }', data-ng-repeat='request in requests')
							td(data-ng-show='isAdmin()') {{ request.requestedBy }}
							td
								span(e-form='rowform', editable-text='request.name', e-name='name') {{request.name || 'empty'}}
								|&nbsp;(
								span(e-form='rowform', editable-number='request.year', e-name='year', e-style='width: 85px;') {{request.year || 'empty'}}
								|)
							td 
								span(e-form='rowform', editable-select='request.requestType', e-ng-options='s.value as s.text for s in requestTypes', e-name='requestType') {{request.requestType || 'Movie'}}
							td 
								span(e-form='rowform', editable-checkbox='request.isOngoing', e-name='isOngoing', e-title='Is Ongoing') {{request.isOngoing && 'Yes' || 'No'}}
							td
								span(e-form='rowform', editable-select='request.statusType', e-ng-options='s.value as s.text for s in statusTypes', e-name='statusType') {{request.statusType || 'Requested'}}
							td {{request.requestedDate | date:'short'}}
							td {{request.dateClosed | date:'short'}}
							td
								form(editable-form, name='rowform', data-ng-show='rowform.$visible', onbeforesave="saveRequest($data, request._id)")
									button(type='submit', data-ng-disabled='rowform.$waiting', class='btn btn-success') Save
									button(type='button', data-ng-disabled='rowform.$waiting', data-ng-click='rowform.$cancel()', class='btn btn-danger') Cancel
								button(class='btn btn-default', data-ng-show='!rowform.$visible', data-ng-click='rowform.$show()') Edit
								button(class='btn btn-primary', data-ng-show='isAdmin() && !rowform.$visible', data-ng-click='complete(request)') Complete
								button(class='btn btn-danger', data-ng-show='!rowform.$visible', data-confirm-click='Are you sure you want to delete {{request.name}}?' data-confirmed-click='deleteRequest(request)') Delete
		div
			small Emails are sent from justin@sparzington.com.  Add this to your contacts to prevent them from going into your SPAM folder.