html
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title= subject
    body
      h3 #{item.name} has been marked as #{item.statusType}
      br
      |If it is marked as <b>Completed,</b> you watch it on the Plex server.  If it hasn't, or you have questions, you may respond to this email.